<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Este es el Blog</title>
</head>
<body>
<div class=container>
    {% block title %}
    <h1>Blog Web</h1>
    {% endblock %}
</div>

{% block content %}
<div class="container">
    <div>

        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Post</th>
                <th>Fecha</th>


            </tr>
            </thead>
            <tbody>
            {% for posteo in familiares %}
            <tr>
                <td>{{posteo.id}}</td>
                <td>{{posteo.titulo}}</td>
                <td>{{persona.categoria}}</td>
                <td>{{persona.post}}</td>
                <td>{{persona.fecha_posteo}}</td>
                <td><a href="detalle_posteo/{{posteo.id}}">Detalle</a></td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
</body>
</html>