<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Este es el Blog</title>
</head>
<body>
<div class="container text-center">
    {% block title %}
    <h1>EL BLOG DEL CODER</h1>
    {% endblock %}
</div>

{% block content %}
<div class="container">
    <div> Registros: {{no_blog}}</div>


    <div>


        <table class="table table-striped">
            <thead>
            <tr>

                <th>Titulo</th>
                <th>Categoria</th>
                <th>Post</th>
                <th>Fecha</th>


            </tr>
            </thead>
            <tbody>
            {% for blog_web in blogweb %}
            <tr>

                <td>{{blog_web.titulo}}</td>
                <td>{{blog_web.categoria}}</td>
                <td>{{blog_web.post}}</td>
                <td>{{blog_web.fecha_posteo}}</td>
                <td><a href="blog/editar/{{blog_web.id}}">Editar</a></td>
                <td><a href="blog/detalle/{{blog_web.id}}">Crear</a></td>
                <td><a href="blog/borrar/{{blog_web.id}}">Eliminar</a></td>
                <td><a href="blog/detalle/{{blog_web.id}}">Detalle</a></td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        <table/>

    </div>
</div>
{% endblock %}
</body>
</html>