{% load bootstrap5 %}
{% bootstrap_css %}




<form method="post">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-success" %}
   
</form>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href="{% url 'persona_list' %}"><button type="button" class="btn btn-secondary">Volver a Lista de Personas</button></a>
<a href="{% url 'blog_list' %}"><button type="button" class="btn btn-secondary">Volver a Lista Blog</button></a>

</div>